<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/mission/" class="{% if page.url contains 'mission' %}current{% endif %}">Our Mission</a></li>
    <!-- <li><a href="{{site.baseurl}}/services/" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li> -->
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/media/" class="{% if page.url contains 'media' %}current{% endif %}">In the Media</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>
